# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Variables de entorno
.env

# Bases de datos locales
*.db
*.sqlite
*.sqlite3

# Editores
.vscode/
.idea/

# Pruebas
.pytest_cache/

# Sistema
.DS_Store
